{% extends "base.html" %}

{% block content %}
<h2>Pratimai rankoms </h2>
<hr>
<p>Pratimai rankoms daugeliui sportininkų (daugiausiai vyrams) yra svarbiausi ir mėgstamiausi iš visų. Tikriausiai todėl, nes tai yra viena iš labiausiai matomų mūsų kūno dalių.
</p>
<p>Būtent šie raumenys, ypač vasarą, būna atviri ir visiems matomi, todėl suprantama, kodėl dauguma žmonių nori turėti stangrius, tvirtus bei gražius raumenis.
</p>
<p>Būtent silpnos rankos gali būti atsakingos dėl to, kad ilgą laiką sportuojant ir tobulėjant, vis sunkiau sekasi iškelti didesnį svorį treniruojant kitas raumenų grupes, kuriuose šie raumenys taip pat dirba. raumenų grupių.
</p>
<p> Ir priešingai – jeigu šie raumenys yra dominuojantys, tai irgi gali sudaryti problemų, kadangi treniruojant krūtinę, nugarą, pečius, jie gali perimti didelę dalį krūvių nuo minėtų</p>
<p>Dėl to, jau ir taip dominuojanti raumenų grupė dar labiau sustiprės, o nepakankamas krūvis kitų raumenų grupių išdirbimui gali nuvesti prie raumenų disbalanso ir iš to kylančių kitų problemų.
</p>
<p>Rankų treniruotėse nėra būtina speciali įranga. Priėjimai treniruokliuose skirti tik raumens išdirbimui.
</p>
<p>Pratimai su pasipriešinimo guma, štanga ar su hanteliais, suteiks galimybę pilnai atlikti kokybišką ir efektyvią rankų treniruotę namuose ar sporto salėje.
</p>
<h4>Pratimai</h4>
<img src="/static/photos/rankoms/rankoms.png" alt="" width="500" height="310" style="display: block; padding: 15px;">
<img src="/static/photos/rankoms/rankoms1.png" alt="" width="500" height="310" style="display: block; padding: 15px;">
<img src="/static/photos/rankoms/rankoms2.jpg" alt="" width="500" height="310" style="display: block; padding: 15px;">
<img src="/static/photos/rankoms/rankoms3.jpg" alt="" width="600" height="310" style="display: block; padding: 15px;">


{% endblock %}