<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sportuok!</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-info static-top">
        <div class="container">
            <a class="navbar-brand" href="/" ><img src="/static/photos/base/logo.png" alt="HTML tutorial" style="width: 190px"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto" style="gap: 10px">
                    <!-- Example single danger button -->
                    <div class="btn-group">
                      <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Straipsniai
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="/straipsniai_mityba">Mityba</a>
                        <a class="dropdown-item" href="/straipsniai_sportas">Sportas</a>
                        <a class="dropdown-item" href="/straipsniai_sveikata">Sveikata</a>
                         {% if current_user.is_authenticated %}
                        <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/prideti_straipsni">Prideti straipsnį</a>
                            <a class="dropdown-item" href="/mano_straipsniai">Mano straipsniai</a>
                          {% endif %}
                      </div>
                    </div>
                    <div class="btn-group">
                      <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Maisto kalorijos
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="/tikrinti_maista">Tikrinti</a>
                        <a class="dropdown-item" href="/maistas_prideti">Prideti</a>
                      </div>
                    </div>
                    <!-- Example single danger button -->
                    <div class="btn-group">
                      <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Pratimai
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="/kojoms">Kojoms</a>
                        <a class="dropdown-item" href="/nugarai">Nugarai</a>
                        <a class="dropdown-item" href="/presui">Pilvo presui</a>
                        <a class="dropdown-item" href="/rankoms">Rankoms</a>
                        <a class="dropdown-item" href="/peciams">Pečiams</a>
                        <a class="dropdown-item" href="/krutinei">Krūtinei</a>
                      </div>
                    </div>
                    <div class="btn-group">
                      <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Skaičiuoklė
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="/kuno_mases_indeksas">Kūno masės indeksas</a>
                        <a class="dropdown-item" href="/dienos_kaloriju_norma">Dienos kalorijų norma</a>
                      </div>
                    </div>
                    {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link active" href="/issukis">Iššūkis!</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/paskyra">Paskyra</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/atsijungti">Atsijungti</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/prisijungti">Prisijungti</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->

    <body>
        <div class="container">
            <br>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% block content %}
            {% endblock %}
        </div>
    </body>


    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>

</html>