{% extends "base.html" %}

{% block content %}
<h2>Dienos kalorijų norma</h2>
<form method="post" , action="{{ url_for('dkn') }}">
    {{ form.hidden_tag() }}
    <div class="form-row">
      <div class="form-group col-md-4">
          {{ form.svoris.label(class="form-control-label") }}
        {{ form.svoris(class="form-control", placeholder="Ūgis cm pvz: 180") }}
      </div>
      <div class="form-group col-md-4">
        {{ form.ugis.label(class="form-control-label") }}
        {{ form.ugis(class="form-control", placeholder="Svoris kg pvz: 90...") }}
      </div>
      <div class="form-group col-md-4">
       {{ form.amzius.label(class="form-control-label") }}
        {{ form.amzius(class="form-control", placeholder="Metai pvz: 25...") }}
      </div>
    </div>
    <div class="form-group">
        {{ form.lytis.label}}
        {{ form.lytis(class="form-control") }}
  </div>
    <div class="form-group">
        {{ form.intensyvumas.label}}
        {{ form.intensyvumas(class="form-control") }}
  </div>
    {{ form.skaiciuoti(class="btn btn-primary") }}
    {% if rezultatas %}
    <h2>Kalorijos metant svorį: {{ rezultatas[0] }} </h2>
    <h2>Kalorijos palaikant svorį: {{ rezultatas[1] }} </h2>
    <h2>Kalorijos auginant svorį: {{ rezultatas[2] }} </h2>
    {% endif %}
</form>


{% endblock %}