{% extends "base.html" %}

{% block content %}
<h2>Pratimai kojoms </h2>
<p>Pratimai kojoms – tai ne tik pritūpimai įtūpstai ar pratimai sėdmenims. Treniruoti kojas yra labai svarbu, juk tai – pusė mūsų kūno.</p>
<p>Tuo atveju, jeigu kūnas yra proporcingai ištreniruotas, kojų raumenys sudaro net 55% viso kūno raumenų! Todėl niekada nesiūlome propaguoti šios raumenų grupės treniruočių praleidimo.</p>
<p>Netgi atvirkščiai – siūlome šią raumenų grupę daryti kaip tik dažniau, vos tik pajaučiate, kad jos yra pilnai atsistatę po paskutinės treniruotės.
</p>
<p>Viena iš didžiausių ir nedovanotinų klaidų, kurią gali padaryti sportuojantis žmogus – tai kojų pratimų praleidimas.
</p>
<p>Žmonės taip elgiasi todėl, nes atlikti šios raumenų grupės, kuri yra pati didžiausia žmogaus raumenų grupė, yra sunku ir tai ypač vargina.
</p>
<p>Tačiau praleidžiant tokią treniruotę, galiausiai bus itin sunku pasivyti kitų raumenų grupių proporcijas ir kūnas atrodys tiesiog neproporcingai. Tad verčiau pasitelkti discipliną, o ne atidėliojimą ar lengvesnį kelią tikslo link.
</p>
<p>Kojų pratimai, dėl itin didelio raumenyno, dažnai yra skirstomi į mankštas priekinei, galinei ir vidurinei raumenų daliai, kad būtų tolygus visų dalių ištreniravimas.
</p>
<h4>Pratimai</h4>
<img src="/static/kojoms/kojoms.jpg" alt="" width="400" height="310" style="display: block;">
<img src="/static/kojoms/kojoms1.jpg" alt="" width="400" height="220" style="display: block;">
<img src="/static/kojoms/kojoms2.png" alt="" width="500" height="310" style="display: block;">

{% endblock %}
















