{% extends "base.html" %}

{% block content %}
<h2>Pratimai krutinei </h2>
<p>Sporto pratimai krūtinei yra itin mėgstami daugelio vyriškos lyties atstovų.</p>
<p>Juk tvirta torsas – tai savotiškas pasididžiavimas savo kūno išvaizda, suteikiantis tvirtumo.</p>
<p>O juk kiekvienas, einantis į treniruočių salę, tai daro ne tik dėl sveikatos, bet ir dėl geresnės išvaizdos ir nėra čia ko gėdytis!
</p>
<p>Atlikti šios raumenų grupės treniruotę yra labai svarbu ir tą daryti reikėtų tiek vyrams, tiek ir moterims.
</p>
<p>Visų pirma, gerai išlavinti raumenys gerina laikyseną, suteikia tvirtumą visam kūnui, o ypač vyrams duoda gerą vizualų vaizdą.
</p>
<p>Treniruotes galima atlikti darant spaudimus bei suvedimus įvairiais kampais.</p>
<h4>Pratimai</h4>
<img src="/static/photos/krutinei/krutinei.png" alt="" width="450" height="250" style="display: block; padding: 15px;">
<img src="/static/photos/krutinei/krutinei1.png" alt="" width="500" height="310" style="display: block; padding: 15px;">
<img src="/static/photos/krutinei/krutinei2.png" alt="" width="500" height="310" style="display: block; padding: 15px;">












{% endblock %}