{% extends "base.html" %}

{% block content %}
<h2>Pratimai nugarai </h2>
<p>Pratimai nugarai stiprinti kiekvienam sportuojančiam yra itin svarbūs todėl, nes tai yra antra pagal dydį raumenų grupė visame žmogaus kūne, todėl išdirbti ją yra pakankamai sunku.</p>
<p>Ši treniruotė yra bene labiausiai varginanti. Ji yra skirstoma į mankštą nugaros pločiui arba storiui. Treniruotės raumens pločiui apima visas traukas, kai rankos leidžiasi žemyn ir atgal.</p>
<p>Būtent šių traukų dėka įgysite V-formos torsą. Tokia forma suteikia atletiško kūno įvaizdį.</p>
<p>Prie plataus torso pridėjus pratimus pečiams, kurie padeda suformuoti plačią pečių juostą, taip pat kojoms, kas padeda užauginti didesnes ir gražesnes kojas, gauname X-formos kūną.
</p>
<p>Būtent toks kūnas ir yra laikomas grožio etalonu jau tūkstančius metų.Treniruotės raumens storiui arba masei – tai visų tipų traukos, kuriuose lynas, rankena ar štanga eina horizontaliai arba kampu.
</p>
<p>Efektyvi treniruotė padės progresuoti ir daugiau užsiauginti raumeninio audinio.</p>
<h4>Pratimai</h4>
<img src="/static/nugarai/nugarai.png" alt="" width="500" height="310" style="display: block;">
<img src="/static/nugarai/nugarai1.jpg" alt="" width="500" height="310" style="display: block;">
<img src="/static/nugarai/nugarai2.png" alt="" width="500" height="310" style="display: block;">


{% endblock %}