{% extends "base.html" %}

{% block content %}
<h2>Pratimai peciams </h2>
<p>Pratimai pečiams padeda sukurti galingą 3D (trimatį) raumens vaizdą.
</p>
<p>Tai sukuria atletiško žmogaus figūrą, kadangi vizualiai siaurina liemenį, taip pat išbaigia kūno V-formą.
</p>
<p>Dėl to jūsų kūnas atrodo sportiškas ir gražus.</p>
<p>Dar vienas šios raumenų grupės ištreniravimo privalumas yra tas kad tai išplatina pečių juostą ir leidžia priartėti prie vadinamosios kūno X-formos.
</p>
<p>Kūno X-forma reiškia, kad torsas ir kojos yra žymiai platesnės nei talijos apimtis.
</p>
<p>Būtent tokie figūros tipai nuo senovės laikų (prisiminkite visas antikines skulptūras, kurias esate matę), iki pat šių dienų yra laikomas grožio etalonu, kuris pastaraisiais metais ne blėsta, o vis stiprėja.
</p>
<h4>Pratimai</h4>
<img src="/static/peciams/peciams.jpg" alt="" width="400" height="310" style="display: block; padding: 15px;">
<img src="/static/peciams/peciams1.png" alt="" width="370" height="310" style="display: block; padding: 15px;">
<img src="/static/peciams/peciams2.jpg" alt="" width="400" height="250" style="display: block; padding: 15px;">


{% endblock %}