{% extends "base.html" %}

{% block content %}
<h2>Pratimai pilvo presui </h2>
<p>Dažnai sakoma, kad gražus kūnas daromas virtuvėje. Iš tiesų, ši auksinė frazė yra visiškai teisinga.
</p>
<p>Pratimai pilvo presui reikalingi atlikti kiekvienam žmogui, tačiau tai ne tik atsilenkimai.</p>
<p>Kaip daugelis jau turbūt žino, ryškus pilvo presas suteikia pasitikėjimo savimi ir kūnas atrodo atletiškesnis ir sportiškesnis negu tuomet, kai pilvo preso srityje matosi riebalinis sluoksnis (dar vadinamas gelbėjimosi ratu).
</p>
<p>Nepamirškite, kad raumuo gali matytis tik tada, kai riebalinis sluoksnis yra pakankamai mažas.
</p>
<p>Nepaisant to, tvirti ir stiprūs pilvo raumenys yra jūsų pamatas tvirtam kūnui, kuris leis treniruotis su didesne jėga bei mažesne traumų rizika.
</p>
<p>Taip pat turėsite geresnį balansą bei koordinaciją.</p>
<h4>Pratimai</h4>
<img src="/static/presui/presui.jpg" alt="" width="320" height="450" style="display: block;">
<img src="/static/presui/presui1.png" alt="" width="500" height="200" style="display: block;">
<img src="/static/presui/presui2.jpg" alt="" width="500" height="310" style="display: block;">
\
{% endblock %}