{% extends "base.html" %}

{% block content %}

<h1>Sportas</h1>
<br>
{% for x in data.items %}
<h3><a href="{{ url_for('straipsnis',tema=x.tema, pavadinimas=x.pavadinimas, id=x.id) }}"
class="text-info">{{ x.pavadinimas.capitalize() }}</a></h3>
<p>{{ datetime.strftime(x.data, "%Y-%m-%d")}} <i>{{ x.vardas }}</i></p>
<hr>
{% endfor %}
{% for page_num in data.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
  {% if page_num %}
    {% if data.page == page_num %}
      <a class="btn btn-info mb-4" href="{{ url_for('straipsniai_sportas', page=page_num) }}">{{ page_num }}</a>
    {% else %}
      <a class="btn btn-outline-info mb-4" href="{{ url_for('straipsniai_sportas', page=page_num) }}">{{ page_num }}</a>
    {% endif %}
  {% else %}
    ...
  {% endif %}
{% endfor %}


{% endblock %}