{% extends "base.html" %}

{% block content %}
<form method='post' action="{{ url_for('tikrinti_maista') }}">
    {{ form.hidden_tag() }}
  <h2>Tikrinti produktų maistingumą </h2>
  <div class="form-row">
    <div class="form-group col-md-6">
      {{ form.ieskoti.label(class="form-control-label") }}
      {{ form.ieskoti(class="form-control", placeholder="Pvz: Agurkas, Pomidoras...") }}
    </div>
    <div class="form-group col-md-6">
      {{ form.svoris.label(class="form-control-label") }}
      {{ form.svoris(class="form-control", placeholder="Pvz: 100, 200...") }}
    </div>
  </div>
      {{ form.tikrinti(class="btn btn-primary") }}
  <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Pavadinimas</th>
      <th scope="col">Svoris(gramais)</th>
      <th scope="col">Kalorijos(kcal)</th>
      <th scope="col">Baltymai</th>
      <th scope="col">Angliavandeniai</th>
      <th scope="col">Riebalai</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      {% for x in listas_maisto %}
      <th scope="row">{{ x[6] }}</th>
      <td>{{ x[0] }}</td>
      <td>{{ x[5] }}</td>
      <td>{{ x[1] }}</td>
      <td>{{ x[2] }}</td>
      <td>{{ x[3] }}</td>
      <td>{{ x[4] }}</td>
    </tr>
    {% endfor %}
    <tr>
      {% if funkcija3 %}
      <th scope="row">#</th>
      <td>Iš viso</td>
      <td>#</td>
      <td>{{ funkcija3[3] }}</td>
      <td>{{ funkcija3[0] }}</td>
      <td>{{ funkcija3[1] }}</td>
      <td>{{ funkcija3[2] }}</td>
    </tr>
      {% endif %}
  </tbody>
  </table>
</form>


{% endblock %}